@tailwind base;
@tailwind components;
@tailwind utilities;




@font-face{
  font-family: "TanKulture";
  src:url(../assets/TANKULTURE.otf)
}

.Tan{
  font-family: "TanKulture";
  letter-spacing: 0.05em;
  padding-bottom: 10px;
  text-align: center;
  
}

.bg-grey{
  background-color: rgba(240, 238, 238, 0.521);
}

.gap{
  margin-bottom: 100px;
}